
body{
	background-color: white;
	font-family: Georgia;
	color: black;
}
h1{
	font-size: 39px;
}
h3{
	font-size: 20px;
	}

h4{
	font-size: 20px;
}

.header{
	margin-top: 90px;
	text-align: center;
	  }

.navigacija-nuoroda{
	font-size: 25px;
	color: black;
	margin-left: 25px;
	margin-right: 25px;


}

.tablinks {
	font-family: Georgia;
	font-size: 15px;
}

.bands {
  position: relative;
  height: 268px;
  width: 400px;
}

.imagehover {
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 28, 28, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}
.biografija{
	text-align: center;
	margin-top: 35px;
	font-weight: normal;
  font-size: 25px;

}
.istorija{
	text-align: center;
}
.formos{
  text-align: center;
  font-size: 24px;
}


.bandshover {
  position: relative;
  height: 335px;
  width: 500px;
}

.imagehover {
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 28, 28, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}

.bandshover:hover .imagehover {
	  visibility: visible;
  opacity: 1;
}

.bandshovertext {
	transition: .2s;
  transform: translateY(10px);
  font-family: Georgia;
  font-size: 25px;
  letter-spacing: 5px;
}

.bandshover:hover .bandshovertext {
  transform: translateY(0);
	}

	.bandsimage {
		 height: 335px;
  width: 500px;
	}
	
.friendshover {
  position: relative;
  height: 335px;
  width: 500px;
}
.imagehover {
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 28, 28, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}
.friendshover:hover .imagehover {
	  visibility: visible;
  opacity: 1;
}
.friendshovertext {
	transition: .2s;
  transform: translateY(10px);
  font-family: Georgia;
  font-size: 25px;
  letter-spacing: 5px;
}
.friendshover:hover .friendshovertext {
  transform: translateY(0);
	}

	.friendsimage {
		 height: 335px;
  width: 500px;
	}

  .otherimageshover {
  position: relative;
  height: 335px;
  width: 500px;
}
.imagehover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 28, 28, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}
.friendshover:hover .imagehover {
    visibility: visible;
  opacity: 1;
}
.friendshovertext {
  transition: .2s;
  transform: translateY(10px);
  font-family: Georgia;
  font-size: 25px;
  letter-spacing: 5px;
}
.friendshover:hover .friendshovertext {
  transform: translateY(0);
  }

  .friendsimage {
     height: 335px;
  width: 500px;
  }

  .otherphotoshover {
  position: relative;
  height: 335px;
  width: 500px;
}
.imagehover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 28, 28, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}
.otherphotoshover:hover .imagehover {
    visibility: visible;
  opacity: 1;
}
.randomhovertext {
  transition: .2s;
  transform: translateY(10px);
  font-family: Georgia;
  font-size: 25px;
  letter-spacing: 5px;
}
.otherphotoshover:hover .randomhovertext {
  transform: translateY(0);
  }

  .randomimage {
     height: 335px;
  width: 500px;
  }

  .illustrationhover {
  position: relative;
  height: 335px;
  width: 500px;
}
.imagehover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 28, 28, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}
.illustrationhover:hover .imagehover {
    visibility: visible;
  opacity: 1;
}
.illustrationhovertext {
  transition: .2s;
  transform: translateY(10px);
  font-family: Georgia;
  font-size: 25px;
  letter-spacing: 5px;
}
.illustrationhover:hover .friendshovertext {
  transform: translateY(0);
  }

  .illustrationimage {
     height: 335px;
  width: 500px;
  }

.gallerygridcontainer {
  margin-top: 2%;
 display: flex;
  flex-wrap: wrap;
  padding: ;
}

.col {
  flex: 50%;
  padding: 1%;
}
.col.img {
  margin-top: 8px;
  vertical-align: middle;
}
.illustrationhover {
  margin-top: 2%;
  margin-right: auto;
}

.otherphotoshover {
  margin-top: 2%;
  margin-left: auto;
}
.friendshover {

  margin-right: auto;
}
.bandshover {
  margin-left: auto;
}

.mano_container{
  overflow: hidden;
  min-height: 100vh;
  position: relative;
}
.footer_wrapper{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.container {
  border-radius: 5px;
  background-color: none;
  padding: 20px;
}
.fa-facebook{
  color: blue;
  text-align: center;
}
.fa-instagram{
  color: black;
  text-align: center;
}
.kontaktai{
  font-weight: normal;
  font-size: 25px;
  text-align: center;
}
.emailas{
  text-align: center;
}

